.cartItem-outer {
  border-bottom: 1px rgb(219, 219, 219) solid;
  margin: 0;
}

.cartItem-inner {
  display: flex;
  /* gap: 1.5rem; */
  align-items: center;
  margin: 0;
}

.cart-img {
  height: 90px;
  padding: 1rem;
}

.cart-imgholder {
  width: 15%;
}

.name-holder {
  width: 40%;
}

.cart-name {
  font-size: 18px;
  font-weight: 500;
}

.cart-remove {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
}

.cart-remove:hover {
  color: rgb(121, 121, 121);
}

.mobile-qty {
  display: none;
}

.cart-price-container {
  width: 15%;
}

.cart-price {
}

.cart-qty {
  width: 15%;
}

.cart-qty input {
  width: 50px;
  height: 30px;
  text-align: center;
}

input:focus {
  outline: none;
}

.cart-total {
  width: 15%;
}

.edit-btn {
  display: none;
}

.cart-qty-mobile {
  align-items: center;
  display: none;
}

.cart-qty-mobile input {
  width: 40px;
  height: 25px;
  text-align: center;
  margin-left: 1rem;
}

.cart-remove-mobile {
  cursor: pointer;
  text-decoration: underline;
  font-size: 13px;
  display: none;
}

.cart-remove-mobile:hover {
  color: rgb(121, 121, 121);
}

@media (max-width: 720px) {
  p {
    font-size: 15px;
  }

  .cartItem-inner {
    gap: 1rem;
  }
  .cart-imgholder {
    width: 20%;
  }

  .name-holder {
    width: 55%;
  }
  .cart-name {
    font-size: 15px;
  }

  .cart-price {
    width: 25%;
  }

  .cart-remove {
    display: none;
  }

  .mobile-price {
    display: flex;
    flex-direction: column;
  }

  .cart-qty-mobile {
    font-size: 13px;
    display: flex;
  }

  .cart-qty {
    display: none;
  }

  .cart-total {
    display: none;
  }

  .cart-remove-mobile {
    display: block;
  }
}
