.loading-outer {
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
}

.spinner {
  background-color: rgb(233, 156, 84);
  width: 0rem;
  height: 0rem;
  margin: auto;
  border-radius: 2rem;
  animation: spin 0.5s infinite;
  animation-delay: 0.3s;
}

@keyframes spin {
  0% {
    width: 2rem;
    height: 1.5rem;
  }

  50% {
    width: 5rem;
    height: 1.5rem;
  }
  100% {
    width: 2rem;
    height: 1.5rem;
  }
}
