.nav-outer {
  height: 14vh;
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.nav-inner {
  height: 14vh;
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  margin: auto;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 7px;
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.pageTitle:hover {
  color: grey;
}

.nav-blurb {
  text-align: center;
  font-weight: 100;
  margin: 5px;
}

.link {
  text-decoration: none;
}

.shop-icon {
  font-size: 20px;
  color: black;
}

.shop-icon:hover {
  color: rgb(70, 70, 70);
}

.icon-holder {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.cart-counter {
  position: absolute;
  margin-left: 3px;
  background-color: rgb(211, 150, 150);
  width: 20px;
  height: 20px;
  border-radius: 15rem;
  text-align: center;
  left: 60%;
  top: -30%;
  color: white;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .product-container {
    width: 85%;
  }
}

@media (max-width: 720px) {
  .nav-inner {
    width: 90%;
  }
  .pageTitle {
    font-size: 18px;
  }

  .nav-blurb {
    margin: 0;
  }

  .shop-icon {
    font-size: 18px;
  }
}
