.nav-outer {
  height: 14vh;
  width: 100%;
  /* background-color: brown; */
  border-bottom: 1px solid rgb(206, 206, 206);
}

.nav-inner {
  height: 14vh;
  width: 80%;
  margin: auto;
  /* background-color: rgb(134, 216, 58); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  /* background-color: aqua; */
  margin: auto;
  width: fit-content;
  font-weight: 300;
  letter-spacing: 7px;
}

.shop-icon {
  position: absolute;
  cursor: pointer;
  /* background-color: blueviolet; */
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
