.nav-outer {
  height: 14vh;
  width: 100%;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.nav-inner {
  height: 14vh;
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  margin: auto;
  width: fit-content;
  font-weight: 300;
  letter-spacing: 7px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
}

.shop-icon {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
}

.shop-icon:hover {
  color: rgb(70, 70, 70);
}

@media (max-width: 1200px) {
  .product-container {
    width: 85%;
  }
}

@media (max-width: 720px) {
  .nav-inner {
    width: 90%;
  }
  .pageTitle {
    font-size: 22px;
  }
}
