.s2-container {
  margin: 10rem 0;
}

.s2-inner {
  margin: auto;
  width: 60%;
  display: flex;
}

.s2img-holder {
  margin: auto;
}

.profile-img {
  width: 320px;
}

.s2-text {
  margin: 5rem;
  line-height: 26px;
}

@media (max-width: 1200px) {
  .s2-inner {
    width: 85%;
  }

  .s2-text {
    margin: 3rem;
  }
}

@media (max-width: 720px) {
  .s2-inner {
    flex-direction: column;
  }

  .profile-img {
    width: 100%;
  }
}
